#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: .5rem; */
  text-align: center;
}


.App{
  color: #213547;
  background-color: #ffffff;
}

.App-dark {
  color: #ffffff;
  background-color: #213547;
}


.icon {
  position: absolute;
  top: 12px;
  right: 50px;
  cursor: pointer;
}


/* Title styling */
.title {
  margin: 10px;
  /* align-self: center; */
}





/* Form styling */
.NewForm {
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  /* max-width: 800px; */
  margin: 0 auto;
  font-weight: bold;
}

.NewForm-light {
  border: 1px solid  #2b2929;
  color: #213547;
  background-color: #ffffff;
}

.NewForm-dark {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #213547;
}


.NewForm div {
  margin-bottom: 10px;
}

.NewForm label {
  display: block;
  margin-bottom: 5px;
}

.NewForm input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.NewForm input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}


/* BookmarkList styling */

.BookmarkList {
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1.5px solid #213547;
  /* border-radius: 20px; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
  padding: 15px;
  width: 95vw;
  height: 55vh;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-inline: clip;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.BookmarkList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.BookmarkList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Bookmark styling */

.Bookmark {
  /* background-color: #d6ccc2; */ /* Dark background */
  /* color: #203547;*/ /* White text */
  /* border: 2px solid #203547; */
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  max-height: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  display: inline-block;
  width: calc(33.333% - 20px); /* Three cards per row with margin */
  box-sizing: border-box;
}

.Bookmark-light {
  background-color: #213547; /* Dark background */
  color: #d6ccc2; /* White text */
  border: 2px solid #203547;
}

.Bookmark-light:hover {
  border: 3px solid #d6ccc2
}

.Bookmark-dark {
  background-color: #d6ccc2; /* Dark background */
  color: #203547; /* White text */
  border: 2px solid #d6ccc2;
}

.Bookmark-dark:hover {
  border: 3px solid #213547
}


.Bookmark a {
  color: #1e90ff; /* Link color */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.Bookmark p {
  margin: 10px 0;
}

.Bookmark button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ff4d4d; /* Red delete button */
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.Bookmark button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}


@media screen and (max-width: 1000px) {
  .BookmarkList {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
} 